/* font families  */

/* font-family: 'Inter Tight', sans-serif; */
/* font-family: 'Work Sans', sans-serif; */

:root {
  --main-font: "Inter Tight", sans-serif;
  --header-color: #b73e3e;
  --bg-color: #eddbc0;
  --nav-color: #dd5353;
}

* {
  font-family: var(--main-font);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.4s cubic-bezier(0.37, 1.14, 0.26, 1.24);
}

*::selection {
  background-color: var(--header-color);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  height: 3000px;
}

header .header-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--bg-color);
  padding: 1rem 2rem;
}

header .header-1 .logo {
  font-size: 2.5rem;
  color: var(--nav-color);
}

header .header-1 .call {
  font-size: 2rem;
  color: #666;
}

header .header-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--header-color);
  padding: 0.5rem;
  position: relative;
  z-index: 1000;
}

.header-2 .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.header-2 .navbar ul li {
  margin: 1rem;
}

.header-2 .navbar ul li a {
  font-size: 1.5rem;
  color: var(--bg-color);
  font-weight: bold;
}

.header-2 .navbar ul li a.active,
.header-2 .navbar ul li a:hover {
  color: #fff;
}

.header-2 .share a {
  font-size: 2rem;
  color: var(--bg-color);
  margin: 1rem;
}

.header-2 .share a:hover {
  color: #fff;
}

header .header-2 #menu {
  font-size: 3rem;
  color: var(--bg-color);
  cursor: pointer;
  display: none;
  margin: 1rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(/images/images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

header .header-2.header-active {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

.btn {
  height: 4.5rem;
  width: 18rem;
  color: #fff;
  border: 0.2rem solid #fff;
  outline: 0.2rem solid #fff;
  outline-offset: -0.8rem;
  font-size: 2rem;
  margin: 1.5rem 0;
  cursor: pointer;
  background: none;
}

.btn:hover {
  outline-offset: 0.4rem;
  background-color: var(--header-color);
  height: 4.5rem;
}

.heading {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 0 0.5rem;
  padding-top: 6rem;
  box-shadow: 0 0.2rem 0.05rem rgba(0, 0, 0, 0.3);
}

.heading span {
  display: inline-block;
  font-size: 3.5rem;
  color: var(--header-color);
  padding: 1rem 0;
  box-shadow: 0 0.2rem 0.05rem var(--header-color);
}

.home .content {
  text-align: center;
  padding: 1rem;
}

.home .content h1 {
  font-size: 6rem;
  color: #fff;
}

.home .content span {
  color: var(--header-color);
}

.home .content p {
  font-size: 2rem;
  color: #fff;
  width: 69rem;
  padding: 1rem 0;
}

.home .shape {
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  height: 13rem;
  background: url(/images/images/shape-bottom.png);
  background-size: 350rem 13rem;
  width: 100%;
  animation: animate 25s linear infinite;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 350rem;
  }
}

.about {
  min-height: 100vh;
}

.about .row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  overflow-x: hidden;
}

.about .row .image img {
  width: 30rem;
  filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5));
}

.about .row .content {
  padding: 1rem;
}

.about .row .content h1 {
  font-size: 3.5rem;
  color: var(--header-color);
}

.about .row .content p {
  font-size: 2rem;
  color: #666;
  padding: 1rem 0;
}

.about .row .content .btn {
  color: var(--header-color);
  border-color: var(--header-color);
  outline-color: var(--header-color);
}

.about .row .content .btn:hover {
  background-color: var(--header-color);
  color: #fff;
}

.dish {
  min-height: 100vh;
}

.dish .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  list-style-type: none;
}

.dish .controls .buttons {
  margin: 1rem 2rem;
  padding: 0.5rem 0;
  border-bottom: 0.2rem solid #333;
  color: #333;
  cursor: pointer;
  font-size: 2rem;
}

.dish .controls .buttons.button-active,
.dish .controls .buttons:hover {
  color: var(--header-color);
  border-color: var(--header-color);
}

.dish .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.dish .img-container .image {
  width: 35rem;
  margin: 2rem;
  border: 1rem solid #fff;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}

.dish .img-container .image img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

.dish .img-container .image a {
  font-size: 2rem;
  color: #333;
  padding: 0.5rem;
}

.dish .img-container .image a:hover {
  color: var(--header-color);
  text-decoration: underline;
}

.chef {
  min-height: 100vh;
  background: url(../images/images/chefs-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.chef .heading span {
  color: #000;
}

.chef .box-container {
  display: flex;
  /* flex-flow: row; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.chef .box-container .box {
  height: 40rem;
  width: 28rem;
  margin: 2rem;
  border: 0.5rem solid var(--header-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.chef .box-container .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chef .box-container .box .info {
  position: absolute;
  bottom: -6rem;
  left: 0;
  background-color: #fff;
  border-top: 0.5rem solid var(--header-color);
  width: 100%;
  text-align: center;
}

.chef .box-container .box:hover .info {
  bottom: 0;
}

.chef .box-container .box .info h3 {
  font-size: 2rem;
  color: #333;
  padding: 0.5rem 0;
}

.chef .box-container .box .info span {
  font-size: 1.5rem;
  color: #666;
}

.chef .box-container .box .info .share {
  margin-top: 1rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
  padding: 1rem 0;
}

.chef .box-container .box .info .share a {
  font-size: 2rem;
  margin: 1rem;
  color: var(--header-color);
}

.chef .box-container .box .info .share a:hover {
  color: #333;
}

.speciality .box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 4rem 0;
}

.speciality .box-container .box {
  height: 20rem;
  flex: 1 1 45rem;
  margin: 1rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

.speciality .box-container .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.speciality .box-container .box .info {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.speciality .box-container .box .info h3 {
  font-size: 3rem;
  color: #fff;
}

.speciality .box-container .box .info p {
  font-size: 2rem;
  color: #eee;
}

.speciality .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}

.speciality .icon-container .icon {
  margin: 2rem;
  width: 29rem;
  text-align: center;
}

.speciality .icon-container .icon i {
  font-size: 4rem;
  color: var(--header-color);
}

.speciality .icon-container .icon h3 {
  font-size: 2rem;
  color: #333;
  padding: 1rem 0;
}

.speciality .icon-container .icon p {
  font-size: 1.5rem;
  color: #666;
}

.letter {
  padding: 2rem 1rem;
  background: linear-gradient(rgba(255, 255, 255, 0.5), #fff),
    url(../images/images/letter.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.letter h1 {
  font-size: 3rem;
  color: #333;
}

.letter p {
  font-size: 1.5rem;
  color: #666;
}

.letter form {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  max-width: 60rem;
  border-radius: 5rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  background-color: #fff;
}

.letter form input[type="email"] {
  height: 4rem;
  padding: 0 1rem;
  width: 100%;
  font-size: 1.7rem;
  background: none;
  border: none;
  color: #333;
}

.letter form input[type="submit"] {
  height: 3.8rem;
  width: 17rem;
  font-size: 1.7rem;
  background: var(--header-color);
  border: none;
  border-radius: 5rem;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.letter form input[type="submit"]:hover {
  letter-spacing: 0.1rem;
  opacity: 0.8;
}

.footer {
  background-color: #2c3e50;
}

.footer img {
  width: 100%;
}

/* .footer .shape2 { */
    /* position: absolute; */
    /* bottom: -0.5rem; */
    /* left: 0; */
    /* height: 13rem; */
    /* background: url(/images/images/shape-bottom.png); */
    /* background-size: 350rem 13rem; */
    /* width: 100%; */
    /* animation: animate 25s linear infinite; */
  /* } */
  
  /* @keyframes animate { */
    /* 0% { */
      /* background-position-x: 0; */
    /* } */
  
    /* 100% { */
      /* background-position-x: 350rem; */
    /* } */
  /* } */

.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .box-container .box {
  flex: 1 1 23rem;
  margin: 2rem;
}

.footer .box-container .box .heading {
  margin: 0;
  padding: 0;
  box-shadow: 0 0.3rem 0.05rem #fff6;
  margin-bottom: 0.5rem;
  text-align: left;
}

.footer .box-container .box .heading span {
  font-size: 2.5rem;
  color: #fff;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 0;
}

.footer .box-container .box:first-child p {
  font-size: 1.3rem;
}

.footer .box-container .box i {
  padding: 0 0.5rem;
  color: #fff;
}

.footer .box-container .box a {
  font-size: 1.7rem;
  display: block;
  color: #eee;
  padding: 0.5rem 0;
}

.footer .box-container .box a:hover {
  text-decoration: underline;
}

/* media queries  */

/* header section  */

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  header .header-2 #menu {
    display: block;
  }

  header .header-2 .navbar {
    position: absolute;
    top: 100%;
    left: -120%;
  }

  header .header-2 .navbar ul {
    flex-flow: column;
    justify-content: center;
    min-height: calc(100vh - 6rem);
    padding-bottom: 6rem;
    background-color: #000;
    width: 32rem;
  }

  header .header-2 .navbar ul li {
    width: 100%;
    text-align: center;
  }

  header .header-2 .navbar ul li a {
    font-size: 2.5rem;
    display: block;
  }

  header .header-2 .fa-times {
    transform: rotate(180deg);
  }

  header .header-2 .nav-toggle {
    left: 0;
  }

  .home .content h1 {
    font-size: 5rem;
  }

  .home .content p {
    width: auto;
  }

  .about .row {
    flex-flow: column;
  }

  .about .row .image img {
    width: 85%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }

  header .header-1 {
    flex-flow: column;
  }

  header .header-1 .logo {
    padding-bottom: 1rem;
  }

  header .header-2 .navbar ul {
    width: 100vw;
  }
}
